<launch>
    <node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
    <!-- node parameters -->
    <param name="serial_name" type="string" value="/dev/ttyACM0"/>
    <param name="baud_rate" type="int" value="921600"/>
    <param name="app_id" type="int" value="1050278"/>
    <param name="app_version" type="int" value="1"/>
    <param name="align_time" type="bool" value="false"/>
    <param name="enc_key" type="string" value="8fcc58a5d74eeb39cb88fd182ed4d56e745159b200bcb4212127e71eb75cd9dc"/>
    <param name="use_broadcast" type="bool" value="false"/>
    </node>
</launch>
